.homeBg{
    background:linear-gradient(0deg, rgba(9, 9, 9, 0), rgba(9, 9, 9, 0)), url('/herosection.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.bgVideo{
    width: 100%;
    height: 70vh;
}

.bgVideo video{
    width: 100%;
    height: 100%;
    object-fit:cover;
    background-position: center center;
}

.secondBg{
    background:linear-gradient(0deg, rgba(9, 9, 9, 0.0), rgba(9, 9, 9, 0.0)), url('/4bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  
}


@media screen and (max-width: 667px){

    .homeBg{
        background:linear-gradient(0deg, rgba(9, 9, 9, 0), rgba(9, 9, 9, 0)), url('/herosection.jpg');
        height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -235px  center;
        background-attachment: local;
    }

    .secondBg{
        background:linear-gradient(0deg, rgba(9, 9, 9, 0.0), rgba(9, 9, 9, 0.0)), url('/4bg.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: -1000px center;
      
    }

}